.WeatherCard {
  margin-top: '50px' !important;
  display: flex;
  flex-direction: row;
}

.card {
  margin-right: 10px;
  height: 22rem !important;
  border: none !important;
}

.card-img-top {
  height: 150px;
  object-fit: contain;
  background: rgba(128, 128, 128, 0.5) !important;
}
